In [ ]:
import datetime
import pandas as pd

from time import time
from sqlalchemy import create_engine

:

In [58]:
df = pd.read_csv(
    'data/yellow_tripdata_2021-01.csv.gz',
    nrows=100,
    parse_dates=[1, 2],
    dtype={'store_and_fwd_flag': str}
)

In [44]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [45]:
TABLE_NAME = 'yellow_taxi_data'

In [46]:
print(pd.io.sql.get_schema(df, name=TABLE_NAME, con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [51]:
df_iter = pd.read_csv(
    'data/yellow_tripdata_2021-01.csv.gz',
    iterator=True,
    chunksize=100000,
    parse_dates=[1, 2],
    dtype={'store_and_fwd_flag': str}
)

In [52]:
df = next(df_iter)
len(df)

100000

In [53]:
# Create table in PSQL without inserting any row
df.head(0).to_sql(name=TABLE_NAME, con=engine, if_exists='replace')

0

In [54]:
# Add rows to table in PSQL
%time df.to_sql(name=TABLE_NAME, con=engine, if_exists='append')

CPU times: user 2.92 s, sys: 20.2 ms, total: 2.94 s
Wall time: 5.14 s

1000

In [57]:
for item in df_iter:
    t_start = time()
    
    item.to_sql(name=TABLE_NAME, con=engine, if_exists='append')
    
    t_end = time()
    
    print(f'inserted another chunk..., took {t_end - t_start:.2f} seconds')

inserted another chunk..., took 4.89 seconds
inserted another chunk..., took 4.80 seconds
inserted another chunk..., took 5.16 seconds
inserted another chunk..., took 5.33 seconds
inserted another chunk..., took 5.38 seconds
inserted another chunk..., took 5.35 seconds
inserted another chunk..., took 5.45 seconds
inserted another chunk..., took 5.32 seconds
inserted another chunk..., took 5.07 seconds
inserted another chunk..., took 5.32 seconds
inserted another chunk..., took 5.03 seconds
inserted another chunk..., took 6.00 seconds
inserted another chunk..., took 3.40 seconds